POCKETLEDGER_PORT=5050
POSTGRES_DB=moneymanager
POSTGRES_USER=moneymanager
POCKETLEDGER_INITIAL_USERNAME=replace-me
POCKETLEDGER_INITIAL_PASSWORD=replace-me
POCKETLEDGER_MAXIMUM_USER_COUNT=1
POSTGRES_PASSWORD=change-this-password
